In [79]:
import pandas as pd
import random

In [3]:
data = pd.read_excel('model_in_table.xlsx')

In [4]:
data

     Activity Next Activity  Probability
0       Start    Activity A          1.0
1  Activity A    Activity B          1.0
2  Activity B    Activity C          0.3
3  Activity B    Activity D          0.7
4  Activity C    Activity D          1.0

In [72]:
raws = []

In [73]:
for i in range(1):
    CaseID = f'C-{i}'
    activity = data.at[0,'Activity']
    raws.append({'CaseID': CaseID, 'Activity' : activity, 'ActivityOrder': 1})
    
    for j in range(2):
        next_activity = data[data['Activity']==activity]['Next Activity'].to_list()[0]

        if len (data[data['Activity']==next_activity])<=1:
            activity = data[data['Activity']==next_activity]['Activity'].to_list()[0]
            raws.append({'CaseID': CaseID, 'Activity' : activity, 'ActivityOrder': j+2})
        else:   
            # Generate a random number between 0 and 1
            rand_num = random.random()

In [87]:
random.random()

0.2534935396212674

In [78]:
data[data['Activity']==next_activity]

     Activity Next Activity  Probability
2  Activity B    Activity C          0.3
3  Activity B    Activity D          0.7

In [100]:
dataset = data[data['Activity']==next_activity]

In [104]:
dataset['from'] = 0
dataset['to'] = 0

<ipython-input-104-948722f5483e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['from'] = 0
<ipython-input-104-948722f5483e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['to'] = 0

In [96]:
dataset.iloc[0].at['to'] = dataset.iloc[0].at['to']

0.3

In [105]:
dataset

     Activity Next Activity  Probability  from  to
2  Activity B    Activity C          0.3     0   0
3  Activity B    Activity D          0.7     0   0

In [74]:
pd.DataFrame(raws)

  CaseID    Activity  ActivityOrder
0    C-0       Start              1
1    C-0  Activity A              2

In [80]:
def generate_word():
    # Generate a random number between 0 and 1
    rand_num = random.random()
    
    # Check if the random number is less than 0.3 (30% chance)
    if rand_num < 0.3:
        return "yes"
    else:
        return "no"