## A way to query data from Microsoft SQL Server

In [1]:
import pandas as pd
# A python module for Open DataBase Connectivity
import pyodbc

In [2]:
# Database details
server = 'PETE\SQLEXPRESS'
db = 'AdventureWorks2017'

# create the connection
conn = pyodbc.connect('DRIVER={SQL Server}; SERVER=' + server + ';DATABASE=' + db + ';Trusted_Connection=yes')

In [3]:
# Query db
sql = '''
SELECT
  *
FROM
  INFORMATION_SCHEMA.TABLES;

'''

In [4]:
data = pd.read_sql(sql, conn)
data.head()

        TABLE_CATALOG    TABLE_SCHEMA                   TABLE_NAME  TABLE_TYPE
0  AdventureWorks2017  HumanResources           EmployeePayHistory  BASE TABLE
1  AdventureWorks2017           Sales  SalesOrderHeaderSalesReason  BASE TABLE
2  AdventureWorks2017           Sales                  SalesPerson  BASE TABLE
3  AdventureWorks2017      Production                 Illustration  BASE TABLE
4  AdventureWorks2017  HumanResources                 JobCandidate  BASE TABLE

In [5]:
# Query db
sql = '''
SELECT TOP 5 * FROM [Production].[ProductSubcategory]

'''
data = pd.read_sql(sql, conn)
data

,ProductSubcategoryID,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,1,Mountain Bikes,2D364ADE-264A-433C-B092-4FCBF3804E01,2008-04-30
1,2,1,Road Bikes,000310C0-BCC8-42C4-B0C3-45AE611AF06B,2008-04-30
2,3,1,Touring Bikes,02C5061D-ECDC-4274-B5F1-E91D76BC3F37,2008-04-30
3,4,2,Handlebars,3EF2C725-7135-4C85-9AE6-AE9A3BDD9283,2008-04-30
4,5,2,Bottom Brackets,A9E54089-8A1E-4CF5-8646-E3801F685934,2008-04-30