## Organising the dataset for training

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import date
from IPython.display import Markdown, display

In [2]:
filename = ('SampleData.csv')
role_lookup = ('')

In [3]:
data = pd.read_csv(filename)

In [5]:
# Remove uneeded columns from dataset
data = data[['CaseId', 'ActivityName', 'StartTimestamp']]

# Convert CaseId column to string
data['CaseId'] = data['CaseId'].astype('str')

<ipython-input-5-6e2697df18f0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['CaseId'] = data['CaseId'].astype('str')

In [6]:
unique_cases = data['CaseId'].drop_duplicates().tolist()

In [25]:
rows = []

# Activities add before and after should be same size
add_before_list = ['A', 'A', 'A', 'A', 'A']
add_after_list = ['Z', 'Z', 'Z', 'Z', 'Z']

for case in unique_cases:
    
    case_activities = data[data['CaseId']==case]
    
    # Sort activities based on time stamp
    case_activities = case_activities.sort_values(by='StartTimestamp', ascending= True)
    
    # Convert activities to list
    case_activities = case_activities['ActivityName'].tolist()
    
    # Add dummy activities before and after to help prep for model training
    case_activities_training = add_before_list + case_activities + add_after_list
    


    for i in range (len(case_activities_training)-len(add_before_list)):
        
        # Capture a series of 5 sequential activities at a time and link to Case Id
        sequence = case_activities_training[i:i+(len(add_before_list)+1)]
        sequence = [case] + sequence
        rows.append(sequence)

In [26]:
pd.DataFrame(rows)

,0,1,2,3,4,5,6
0,0,A,A,A,A,A,Invoice Entry
1,0,A,A,A,A,Invoice Entry,Check Customer Payment
2,0,A,A,A,Invoice Entry,Check Customer Payment,Credit Memo Entry
3,0,A,A,Invoice Entry,Check Customer Payment,Credit Memo Entry,Refund Customer
4,0,A,Invoice Entry,Check Customer Payment,Credit Memo Entry,Refund Customer,Re-issuing the invoice
...,...,...,...,...,...,...,...
1664,132,Invoice Entry,Check Customer Payment,Credit Memo Entry,Refund Customer,Re-issuing the invoice,Z
1665,132,Check Customer Payment,Credit Memo Entry,Refund Customer,Re-issuing the invoice,Z,Z
1666,132,Credit Memo Entry,Refund Customer,Re-issuing the invoice,Z,Z,Z
1667,132,Refund Customer,Re-issuing the invoice,Z,Z,Z,Z
1668,132,Re-issuing the invoice,Z,Z,Z,Z,Z